<%- include("../partials/header") %>


<%if(currentUser && currentUser.isAdmin === true){%>
<h1>You are admin</h1>
<%}%>
<header class='jumbotron'>
	<div class="container">
		<h1>Campgrounds</h1>
		<p>View our hand-picked campgrounds form all over the world.</p>
		<p>
			<a href="/campgrounds/new" class="btn btn-info btn-lg">Add new Campgrounds</a>
		</p>
		<p>
			<form action="/campgrounds" method="GET" class="form-inline">	
				<div class="form-group">
					<input type="text" name="search" placeholder="Campground search..." class="form-control">
					<input type="submit" value="Search" class="btn btn-default">
				</div>
			</form>
			<div>
				<%if(nomatch){%>
<h3><%=nomatch%></h3>
<%}%>
			</div>
		</p>
	</div>
</header>
<div class="row text-center" style="display:flex;flex-wrap:wrap;">
	<% campgrounds.forEach(function(el){ %>

<div class="col-md-3 col-sm-6">

	<div class="thumbnail">
		<img src="<%= el.image %>" width="300px">
		<div class="caption">
			<h4>
				<%= el.name %>
			</h4>
		</div>
		<P>
			<a class="btn btn-info" href="/campgrounds/<%=el._id%>">More Info</a>
		</P>
	</div>


</div>
<% }); %>
</div>



<%- include("../partials/footer") %>