<%- include("../partials/header") %>



<header class='jumbotron'>
	<div class="container">
		<h1>Campgrounds</h1>
		<p>View our hand-picked campgrounds form all over the world.</p>
		<p>
			<a href="/campgrounds/new" class="btn btn-info btn-lg">Add new Campgrounds</a>
		</p>
	</div>
</header>
<div class="row text-center" style="display:flex;flex-wrap:wrap;">
	<% campgrounds.forEach(function(el){ %>

	<div class="col-md-3 col-sm-6">

		<div class="thumbnail">
			<img src="<%= el.image %>" width="300px">
			<div class="caption">
				<h4>
					<%= el.name %>
				</h4>
			</div>
			<P>
				<a class="btn btn-info" href="/campgrounds/<%=el._id%>">More Info</a>
			</P>
		</div>


	</div>
	<% }); %>
</div>



<%- include("../partials/footer") %>